body {
    background-color: whitesmoke
}

.jumbotron {
    text-align: center;
    background-image: url(..assets/images/jumbo.jpg);
    background-size: cover;
    height: 100%;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

fas {
    background-color: rgb(255, 1, 1)
}

h1 {
    text-shadow: 1px 1px black;
}

p {
    font-family: 'Asap Condensed', serif;
    text-align: center;
    margin-top: 15px;
}

.lead {
    font-family: 'Asap Condensed', serif;
}

.plannerDiv {
    border-radius: 25px;
    box-shadow: 2px black;
}

#textarea {
    border-radius: 5px;
}

#text10AM {
    border-radius: 5px;
}

#text11AM {
    border-radius: 5px;
}

#text12AM {
    border-radius: 5px;
}

#text1PM {
    border-radius: 5px;
}

#text2PM {
    border-radius: 5px;
}

#text3PM {
    border-radius: 5px;
}

#text4PM {
    border-radius: 5px;
}

#text5PM {
    border-radius: 5px;
}

.headerDiv {
    background-image: url("../images/jumbo.jpg");
    color: black;
    font-family: 'Asap Condensed', serif;
}

textarea p {
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.past {
    background-color: red;
}

.present {
    background-color: bisque;
}

.future {
    background-color: green;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        height: 300px;
    }
    p {
        font-size: smaller;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron {
        height: 300px;
    }
    .hourC {
        margin-right: 0px;
    }
    .spanBttn {
        border-radius: 25px;
    }
}