body {
    font-family: 'Asap Condensed', serif;
    font-size: 15px;
    line-height: 1;
}

.jumbotron {
    text-align: center;
    background-image: url(../images/jumbo.jpg);
    background-size: cover;
    height: 100%;
    color: gray;
    border-radius: 1;
    border-bottom: 10px solid blue;
}

h1 {
    text-shadow: 1px 1px black;
}

p {
    font-family: 'Asap Condensed', serif;
    text-align: center;
    margin-top: 15px;
}

.descr {
    white-space: pre-wrap;
    background-color: yellow;
    color: gray;
}

.lead {
    font-family: 'Asap Condensed', serif;
}

.plannerDiv {
    border-radius: 25px;
    box-shadow: 2px black;
}

textarea {
    border-radius: 5px;
    background: transparent;
    font-family: 'Asap Condensed', serif;
}

.past {
    background-color: beige;
    color: black;
}

.present {
    background-color: red;
    color: black;
}

.future {
    background-color: green;
    color: black;
}